<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'static/scripts.js' %}">
</head>
<body>
    <h1>Register</h1>
    {% if messages %}
        {% for message in messages %}
            <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}</div>
        {% endfor %}
    {% endif %}
    <form   
 method="POST">
        {% csrf_token   
 %}
        {{ form.as_p }}
        <button type="submit">Register</button>
    </form>
</body>
</html>